name: check

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:

permissions:
  actions: write # キャッシュアクションに必要
  contents: read # リポジトリコンテンツの読み取り

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: ncaq-xmonad
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix flake check
